<!-- <form [formGroup] = "loginForm" (ngSubmit) = "login()">
  <div class="modal-header">
    <a *ngIf="!showLoginForm" href="#" (click)="toggleShowLoginForm()" onclick="return false"><h4 class="modal-title">Login</h4></a>
    <a *ngIf="showLoginForm" class = "disabled"><h4 class="modal-title">Login</h4></a>
    <a *ngIf="showLoginForm" href="" (click)="toggleShowLoginForm()" onclick="return false"><h4 class="modal-title">Signup</h4></a>
    <a *ngIf="!showLoginForm" class = "disabled"><h4 class="modal-title">Signup</h4></a>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container" *ngIf="showLoginForm">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" formControlName="username" placeholder = "Username" value=""><br />
        <input type="password" formControlName="password" placeholder = "Password" value="">
      </div>
      <div class="col-sm-4">
        <button type="button">Login with Facebook</button>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="!showLoginForm">
    <div id = "wrapper_1">
      <input type="text"  class="form_input" formControlName="username" placeholder = "Username" value=""><br />
      <input type="password"  class = "form_input" formControlName="password" placeholder = "Password" value="">
    </div>
    <div id = "wrapper_2">
      <button type="button">Sign Up with Facebook</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Login</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form> -->
<form [formGroup] = "loginForm">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <br />
      <button mat-raised-button (click)="login()">Login</button>
    </div>
    <div class="col-sm-6">
      <br />
      <button mat-raised-button class="icon-google">Login With Google <img class = "fill" src="../assets/images/logo-google.svg" alt=""></button>
      <br /><br />
      <button mat-raised-button class="icon-facebook">Login With Facebook <img class = "fill" src="../assets/images/logo-facebook.svg" alt=""></button>
    </div>
  </div>
</div>
</form>
