<form [formGroup] = "loginForm" (ngSubmit) = "login()">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text"  class="form_input" formControlName="username" placeholder = "Username" value=""><br />
    <input type="password"  class = "form_input" formControlName="password" placeholder = "Password" value="">
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Login</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>
